<form class="flexcol change-heading-dialog">
    <div class="heading-header">
        <h3>{{actor.name}} - Change Heading</h3>
        <p>Pick a new heading. Facing changes freely, at no cost.</p>
    </div>

    <ol class="items-list heading-sector-list grid grid-2col">
        {{#each sectors}}
            <li class="item heading-sector{{#if this.current}} heading-sector-current{{/if}}">
                <a class="heading-sector-button" data-sector="{{this.sector}}">
                    <h4>Sector {{this.sector}}{{#if this.current}} (current){{/if}}</h4>
                    {{#if this.ships.length}}
                        <span class="heading-sector-ships">{{#each this.ships}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</span>
                    {{/if}}
                </a>
            </li>
        {{/each}}
    </ol>
</form>
