<div class="mgt2e-chat-message initiative-box combat-tactics-request">
    <h2>{{shipName}} - Combat Tactics (Naval)</h2>
    <div class="mgt2e-chat-content">
        <p>{{captainName}}, you may make a Tactics (Naval) check at the start of the battle - its Effect (even if negative) is added to {{shipName}}'s initiative.</p>
        <div class="combat-tactics-buttons">
            <button type="button" class="combat-tactics-roll" data-ship-id="{{shipId}}" data-captain-id="{{captainId}}">Roll</button>
            <button type="button" class="combat-tactics-decline" data-ship-id="{{shipId}}" data-captain-id="{{captainId}}">Decline</button>
        </div>
    </div>
</div>
